/* This applies to the whole page */
body {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif, arial;
    background-color: #fefefe;
    margin: 0;
    padding: 0;
}

/* Main white box in the center */
.container {
    max-width: 500px;
    background-color: rgb(190, 190, 190);
    margin: 80px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid #000000;
}

/* Main heading */
h1 {
    font-family: "Press Start 2p", sans-serif;
    font-weight: bold;
    color: #fe00f6;
    background-color: #000000;
    padding: 15px;

}

/* Small description text */
p {
    color: #010101;
}

/* Section containing input and button */
.input-section {
    margin-top: 20px;
}

/* Label text */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Date input field */

#day {
    text-align: center;
    color: #1d7155;
    margin-bottom: 10px;
    padding: 8px;
    width: 120px;
    border-radius: 5px;
    border: 4px solid #000000;
}

#month {
    text-align: center;
    display: inline-block;
    color:#1d7155;
    margin-top: 2px;
    padding: 8px;
    width: 135px;
    border-radius: 5px;
    border: 4px solid #000000;
}
/* Button styling */
button {
    font-family: "Press Start 2p", sans-serif;
    font-weight: bold;
    margin-top: 40px;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

/* Button hover effect */
button:hover {
    background-color: #0056b3;
}

/* Result display section */
.result-section {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #0831fe;
}
footer p {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #fdfdfd;
   
}
.loader {
    width: 40px;
    height: 40px;
    margin: 15px auto;
    border: 4px solid #ddd;
    border-top: 4px solid #00cc3d;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Hide loader */
.hidden {
    display: none;
}

/* Animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
footer a{
    color: #ff0000;
    text-decoration: none;
}
